#gif{
    background-image: url(/public/img/ad.gif);
    background-size: cover;
    background-size: 100%;
    height: 700px;
    background-repeat: no-repeat;
}
 #PALETTEOPOLY{
    margin-top: 10px;
   text-align: center;
   padding-top: 20px;
   padding-bottom:5px;
   color: black;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   font-weight: 800;
 }
 #PALETTEOPOLY1{
   font-weight: 1000;

 }